body{
    font-family: 'Cabin', sans-serif;
}

.background{
    background-color: rgb(189, 189, 189);
    position: absolute;
    top: 0;
    left: 0;
    height: 800px;
    width: 620px;
    z-index: -1;
}

main{
    margin-left: 20px;
}

header{
    background-color: gainsboro;
    padding: 15px;
    width: 572px;

}

.boutton, 
.boutton:active,
.boutton:visited,
.boutton:focus{
    background-color: rgb(0, 174, 255);
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 220px;
}

.boutton:hover{
    background-color: lightskyblue;
    color: black;
}